# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




main.tsx
stories
.storybook
.storybook/*
App.tsx
App.css
public
src
dist/App.tsx
dist/App.css
dist/vite-env.d.ts
dist/index.html
dist/assets
dist/main.tsx
index.html
vite-env.d.ts
*.stories.ts
*.config.ts
.eslintrc.cjs
tsconfig.json
package-lock.json
tsconfig.node.json
vite.config.ts
storybook.log
postcss.config.cjs
